/*

Contents
================================

1. Imports
2. Navigation
3. Pages
4. Shared Styles

================================

*/

// 1. Imports
// --------------------------------------------------

@import "custom/colors.scss";
@import "custom/fonts.scss";

// 2. Navigation
// --------------------------------------------------

div.head {
   width:100%;
   background-color:$headColor;
   color:#ccc;
}

div.head .head_content {
   padding-top:15px;
   padding-bottom:25px;
}

div.head .left {
   padding-top:26px;
   font-size:40px;
   display:inline-block;
   vertical-align:top;
   color:$mainColor;     
   cursor:default;
   float:left;
}

div.head .right {
   display:inline-block;
   vertical-align:top;
   text-align:right;
}

div.head .left span {
   color:$altColor;
}

.head_item i {
   font-size:35px;   
}

.alt {
   color:$altColor;
}

.head_item .info {
   color:#d9d9d9;
   text-align:center;
   margin-top:10px;
   font-size:18px;
}

a.head_item {
   color:#999;
   text-align:center;
   display:inline-block;
    padding-left:50px;
}

div.head a.current i {
   color:#a4b343;
}

div.head a.current .info {
   color:$altColor;
}

a.head_item:hover {
   text-decoration:none;
}

a.head_item:hover .info {
   color:$altColor;
}

// 3. Pages
// --------------------------------------------------

@media all and (max-width: 700px) and (min-width: 0px) {
      .head .left {
         display:none !important;
      }
}

@media all and (max-width: 490px) and (min-width: 0px) {
   
   .head .right {
      text-align:left !important;
   }
   
   .head a.head_item {
      min-width:60px;
      margin-top:5px;
      margin-bottom:5px;
      vertical-align:top;
      padding-left:25px !important;
   }
}

@media all and (min-width: 720px) {
   
   .post-table {
      overflow:hidden;
   }
   .post-table .post {
      width:340px;
      vertical-align:top;
      display:inline-block;
      padding-bottom:10000px;
      margin-bottom:-10000px;
      padding-top:15px;
   }
   
   .post-table .post .text {      
      padding-right:10px;
   }
   
   .post-table .post .break_lined {
      overflow:auto;
      border:none;
   }
   
}

@media all and (max-width: 720px) {

   .post-table .post .break_lined {
      padding-bottom:25px;
   }
}

.post-table h3 {
     line-height: 30px;
   }

.post .date {
   font-size:16px;
   color:rgb(192, 192, 192);
   display:block;
   margin-top:7px;
   
}

.post h3 {
   margin-bottom:0px;
   font-size:22px;
}

.post {
   padding-bottom:10px;
   min-height:132px;
}

.blog-post .space {
   padding:20px;
   padding-top:10px;
}

.blog-post .more_info {
   font-size:18px;
   color:#ccc;
}

.blog-post .more_info div {
   display:inline-block;
}

.blog-post .title {
   font-size:36px !important;
   margin-bottom:10px !important;
}

.blog-post .excerpt {
    border-bottom:1px dashed #ddd;   
    border-top:1px dashed #ddd;
    margin-bottom:25px;
    margin-top:25px;
    padding-bottom:20px;
    padding-top:20px;
    padding-left:40px;
    padding-right:40px;
    font-size:22px;
}

.blog-post .blog_content {
   color:#555;
   font-size:16px;
   line-height:30px;
   text-align:justify;
}

// 4. Shared Styles
// --------------------------------------------------

.container {
  max-width: 800px;
  margin: 0 auto;
}

html, body {
   background-color:$backgroundColor;
   color:$contentColor;
   padding:0px;
   margin:0px;
   font-family:ubuntu-webfont; 
}

a {
   text-decoration:none;
   color:$mainColor;
}

a:hover {
   text-decoration:underline;
   color:$mainColor;
}

a.button {
   line-height:38px;
   $from:#f2f2f2;
   $to:#eaeaea;
   color:#cfcfcf;
   background-color:#eee;
   padding:4px;
   padding-left:10px;
   padding-right:10px;
   border:1px solid $borderColor;
   border-radius:5px;
   font-size:18px;
display:inline-block;
  /* fallback/image non-cover color */
  background-color: $from;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

a.button:hover {
   color:#bbb;
   text-decoration:none;
   border-color:#ccc;
}


div.content {
   border:1px solid $borderColor;
   background-color:$altColor;
   color:$contentColor;
   border-radius:5px;
   margin-top:35px;
   margin-bottom:35px;
   vertical-align:top;
   font-family:ubuntu-webfont-light;   
}

div.content .space {
   
   margin:30px;
   margin-top:40px;
}
div.content .title {
   font-size:38px;
   margin-bottom:30px;
   line-height:50px;
}

div.page_content {
   vertical-align:top;
   font-size:22px;
   color:#999;
   line-height:38px; 
}

.break_lined {
   border-bottom:1px dashed #ddd;   
}

h1, h2, h3, h4, h5 {
   font-weight:normal;
}

div.footer {
   color:#bbb;
   font-family:ubuntu-webfont-light;
   margin-bottom:15px;
}

div.footer .info, div.footer .links {
   display:inline-block;
}

div.footer .links a {
   display:inline-block;
   padding-left:5px;
   margin-left:5px;
   line-height:10px;
   border-left:1px solid #bbb;
}

.span6 {
   margin-left:0px;
   padding-left:30px;
}

.pagination a {
   display:inline-block;
}

.pagination .previous {
   float:right;
}

.pagination p {
   display:inline-block;
}


.row-fluid [class*="span"] {
   margin-left: 0px !important;
}

.blog_author .author_button {
   margin-top:15px;
}

.blog_author .main_icon {
   color:$mainColor;
   width:140px;
   height:140px;
   display:inline;
   float:left;
   margin-right:40px;
   margin-left:20px;
}

.blog-post .blog_author .author_button {
   margin-top:5px;
}

.blog-post .blog_author a.button {
   font-size:14px;
   line-height:25px;
}

.blog_author {
   padding-bottom:30px;
}

.blog-post .blog_author {
   font-size:16px;
   line-height:32px;
   padding-bottom:25px;
   margin-bottom:30px;
   padding-left:20px;
   padding-right:20px;
   padding-top:15px;
   color:#aaa;
}

.blog-post h1, .blog-post h2 {
   margin-top:25px;
   margin-bottom:25px;
}

.blog-post .blog_author .main_icon {
   width:80px;
   height:80px;
   margin-right:20px;
}


// 4. Custom table
// --------------------------------------------------

.bambus_table {
   display:table;
   width:100%;
   font-size:16px;
   margin-top:20px;
   border-collapse: collapse;
}

.bambus_table_info {
   color:#ccc;
   border-top:none !important;
}

.bambus_table .text_center {
   text-align:center;
}

.bambus_table .text_left {
   text-align:left;
}

.bambus_table .text_left {
   text-align:right;
}

.bambus_row {
   display:table-row;
   border-top:1px dashed #ddd;
   padding:10px;
}

.bambus_cell {
   display:table-cell;
}
