/*

Contents
================================

1. Imports
2. Navigation
3. Pages
4. Shared Styles

================================

*/

// 1. Imports
// --------------------------------------------------

@import "custom/colors.scss";
@import "custom/fonts.scss";

// 2. Navigation
// --------------------------------------------------

div.head {
   width:100%;
   background-color:$headColor;
   color:#ccc;
}

div.head .head_content {
   padding-top:15px;
   padding-bottom:25px;
}

div.head .left {
   padding-top:33px;
   font-size:45px;
   display:inline-block;
   vertical-align:top;
   color:$mainColor;     
   cursor:default;
}

div.head .right {
   display:inline-block;
   vertical-align:top;
   float:right;
}

.head_item i {
   font-size:45px;   
}

.alt {
   color:$altColor;
}

.head_item .info {
   color:$altColor;
   text-align:center;
   margin-top:10px;
   font-size:18px;
}

a.head_item {
   color:#999;
   text-align:center;
   display:inline-block;
   padding-left:49px;
}

a.head_item:hover {
   text-decoration:none;
}

// 3. Pages
// --------------------------------------------------

.main_icon {
   color:$mainColor;
   width:140px;
   height:140px;
   display:inline;
   float:left;
   margin-right:40px;
   margin-left:20px;
}

.author_button {
   margin-top:15px;
}


// 4. Shared Styles
// --------------------------------------------------

.container {
  max-width: 700px;
  margin: 0 auto;
}

html, body {
   background-color:$backgroundColor;
   color:$contentColor;
   padding:0px;
   margin:0px;
   font-family:ubuntu-webfont; 
}

a {
   text-decoration:none;
   color:$mainColor;
}

a:hover {
   text-decoration:underline;
   color:$mainColor;
}

a.button {
   $from:#f2f2f2;
   $to:#eaeaea;
   color:#cfcfcf;
   background-color:#eee;
   padding:4px;
   padding-left:10px;
   padding-right:10px;
   border:1px solid $borderColor;
   border-radius:5px;
   font-size:18px;
display:inline-block;
  /* fallback/image non-cover color */
  background-color: $from;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

a.button:hover {
   color:#ccc;
   text-decoration:none;
   border-color:#ccc;
}


div.content {
   border:1px solid $borderColor;
   background-color:$altColor;
   color:$contentColor;
   border-radius:5px;
   margin-top:35px;
   margin-bottom:35px;
   vertical-align:top;
}

div.content .space {
   
   margin:30px;
   margin-top:40px;
}
div.content .title {
   font-size:32px;
   margin-bottom:40px;
}

div.page_content {
   vertical-align:top;
   font-size:22px;
   color:#888;
   line-height:38px;
   padding-bottom:30px;
   border-bottom:1px solid #eee;
   
}

h1, h2, h3, h4, h5 {
   font-weight:normal;
}
