<div class="row-fluid">
	{% for post in paginator.posts %}
	  <div class="break_lined post span6" itemscope itemtype="http://schema.org/BlogPosting">
	  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
	  <p class="author">
	    <span class="date">{{ post.date | date: "%d %B %Y" }}</span>
	  </p>
	  <div class="text">
	    {{ post.content }}
	  </div>
	  </div>
	{% endfor %}
</div>
<div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}
    <p class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">Previous</a>
      {% else %}
        <a class="button" href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
    </p>
  {% endif %}

  {% if paginator.next_page %}
    <p class="next">
      <a class="button" href="{{ paginator.next_page_path }}">Next</a>
    </p>
  {% endif %}

</div>
