// Main Color
$mainColor:#a4b343;

// Header Color
$headColor:#333;

// Background Color
$backgroundColor:#eee;

// Border Color
$borderColor:#ddd;

// Content Color
$contentColor:#444;

// Alternative Color
$altColor:#f5f5f5;
