@font-face {
  font-family: 'ubuntu-webfont';
  src: url('../font/ubuntu-webfont.eot?v=3.1.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.1.0') format('embedded-opentype'), url('../font/ubuntu-webfont.woff?v=3.1.0') format('woff'), url('../font/ubuntu-webfont.ttf?v=3.1.0') format('truetype'), url('../font/ubuntu-webfont.svg#fontawesomeregular?v=3.1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}

